# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
debug.log
*.tfvars
*.tfvars.json

# Editor and OS files
*.swp
*.swo
*.DS_Store
Thumbs.db

# Ansible
*.retry

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Large files
*.zip
*.tar.gz
*.tar
*.gz
*.bak
*.tmp

# Ignore provider binaries
*.exe
*.dll
*.so
*.dylib

# SSH Keys and Credentials
*.pem
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
.ssh/
~/.aws/
aws_credentials
